<div class="row">
    <div class="col-xxl-4 col-xl-6">
        <div class="card card-height-100">
            <div class="card-header border-bottom-dashed align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">My Portfolio</h4>
                <div>
                    <div class="dropdown" ngbDropdown>
                        <button class="btn btn-soft-primary btn-sm arrow-none" href="javascript:void(0);"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                            <span class="text-uppercase">Btc<i
                                    class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0);">BTC</a>
                            <a class="dropdown-item" href="javascript:void(0);">USD</a>
                            <a class="dropdown-item" href="javascript:void(0);">Euro</a>
                        </div>
                    </div>
                </div>
            </div><!-- end cardheader -->
            <div class="card-body">
                <!-- <apx-chart [series]="simpleDonutChart.series" [labels]="simpleDonutChart.labels"
                    [chart]="simpleDonutChart.chart" [plotOptions]="simpleDonutChart.plotOptions"
                    [dataLabels]="simpleDonutChart.dataLabels" [legend]="simpleDonutChart.legend"
                    [stroke]="simpleDonutChart.stroke" [yaxis]="simpleDonutChart.yaxis"
                    [colors]="simpleDonutChart.colors" dir="ltr"></apx-chart> -->

            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>